<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>E Store - eCommerce HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
          rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/slick/slick.css" rel="stylesheet">
    <link href="/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
<!-- Top bar Start -->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i>
                support@email.com
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i>
                +012-345-6789
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->

<!-- Nav Bar Start -->
<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="" class="nav-item nav-link active">Trang chủ</a>
                    <a href="" class="nav-item nav-link">Sản phẩm</a>
                    <a href="" class="nav-item nav-link">Chi tiết sản phẩm</a>
                    <a href="" class="nav-item nav-link">Giỏ hàng</a>
                    <a href="" class="nav-item nav-link">Checkout</a>
                    <a href="" class="nav-item nav-link">Cá nhân</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"><%= result_account[0].name_user %></a>
                        <div class="dropdown-menu">
                            <a href="/login_user" class="dropdown-item">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->

<!-- Tìm kiếm -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/homeUser?id_user=<%= id_user %>">
                        <img src="/img/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input onkeypress="searchProductEnter(event)" id="data_input_search" type="text"
                           placeholder="Tìm kiếm">
                    <button><i class="fa fa-search"></i></button>
                    <input type="text" id="inputDistinguish" value="searchByInput" hidden>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="" class="btn cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span>(0)</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- phần nội dung và tìm kiếm -->
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <nav class="navbar bg-light">
                    <div class="p-2 mt-5 navbar-nav" style="border: 1px solid #aaaaaa">
                        <h4>Giá</h4>
                        <h6 style="color: #acacac">Chọn giá khoảng</h6>
                        <div>
                            <input id="headMoney" placeholder="head" class="mr-2 number"
                                   style="width: inherit; width: 25%"
                                   type="number" value="0" onkeypress="return event.charCode >= 48" min="1">
                            -
                            <input id="tailMoney" placeholder="tail" class="ml-2" style="width: inherit; width: 25%"
                                   type="number" value="0" onkeypress="return event.charCode >= 48" min="1">
                            <button onclick="searchProductByMoney()" type="button"
                                    class="ml-3 pl-4 pr-4 btn btn-outline-cyan">OK
                            </button>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-9">
                <!-- sản phẩm -->
                <div class="featured-product product">
                    <div class="container-fluid pb-5">
                        <div class="section-header">
                            <h1>Sản phẩm</h1>
                            <font id="searchByPrice"></font>
                        </div>
                        <!--  nơi hiển thị sản phẩm-->
                        <div class="row mb-5">
                            <% result_search.map((row1)=>{ %>
                                <div class="col-lg-4 p-1 mb-2">
                                    <div class="product-item">
                                        <div class="product-title bg-primary">
                                            <a href="#"><%= row1.name_product %></a>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="product-image">
                                            <a href="">
                                                <img style="height: 350px" src="<%= row1.link_image %>"
                                                     alt="Product Image">
                                            </a>
                                            <div class="product-action"></div>
                                        </div>
                                        <div class="product-price bg-info">
                                            <h3><%= Intl.NumberFormat().format(row1.cost) %><span> VNĐ</span></h3>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ảnh quảng cáo-->
<div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="/img/category-3.jpg"/>
                    <a class="category-name" href="">
                        <p>Hmmmm!</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-250">
                    <img src="/img/category-4.jpg"/>
                    <a class="category-name" href="">
                        <p>Hmmmm!</p>
                    </a>
                </div>
                <div class="category-item ch-150">
                    <img src="/img/category-5.jpg"/>
                    <a class="category-name" href="">
                        <p>Hmmmm!</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-150">
                    <img src="/img/category-6.jpg"/>
                    <a class="category-name" href="">
                        <p>Hmmmm!</p>
                    </a>
                </div>
                <div class="category-item ch-250">
                    <img src="/img/category-7.jpg"/>
                    <a class="category-name" href="">
                        <p>Hmmmm!</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="/img/category-8.jpg"/>
                    <a class="category-name" href="">
                        <p>Hmmmm!</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer Start -->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Get in Touch</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>123 E Store, Los Angeles, USA</p>
                        <p><i class="fa fa-envelope"></i>email@example.com</p>
                        <p><i class="fa fa-phone"></i>+123-456-7890</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Follow Us</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Company Info</h2>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Purchase Info</h2>
                    <ul>
                        <li><a href="#">Pyament Policy</a></li>
                        <li><a href="#">Shipping Policy</a></li>
                        <li><a href="#">Return Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row payment align-items-center">
            <div class="col-md-6">
                <div class="payment-method">
                    <h2>We Accept:</h2>
                    <img src="/img/payment-method.png" alt="Payment Method"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <h2>Secured By:</h2>
                    <img src="/img/godaddy.svg" alt="Payment Security"/>
                    <img src="/img/norton.svg" alt="Payment Security"/>
                    <img src="/img/ssl.svg" alt="Payment Security"/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
            </div>

            <div class="col-md-6 template-by">
                <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->

<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/slick/slick.min.js"></script>
<!--axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Template Javascript -->
<script src="/javascripts/main.js"></script>

<!--tìm kiếm-->
<script>
    // tìm kiếm trên thanh tìm kiếm
    const searchProductEnter = async (e) => {
        if (e.keyCode === 13) {
            try {
                const search = document.getElementById("data_input_search").value;
                if (search === '') return
                const distinguish = document.getElementById("inputDistinguish").value;
                window.open(`/user/pageSearchProduct?id_user=<%= id_user %>&search=${search}&distinguish=${distinguish}`, `_self`);
            } catch (e) {
                console.error(e);
            }
        }
    }

    // tìm kiếm theo đơn giá
    const searchProductByMoney = async () => {
        try {
            const distinguish = document.getElementById("inputDistinguish").value = "searchByButton";
            const headMoney = document.getElementById("headMoney").value;
            const tailMoney = document.getElementById("tailMoney").value;
            if (headMoney === '0' && tailMoney === '0') return
            window.open(`/user/pageSearchProduct?id_user=<%= id_user %>&head=${headMoney}&tail=${tailMoney}&distinguish=${distinguish}`, `_self`);

        } catch (e) {
            console.error(e);
        }
    }
</script>
<script>
    (async () => {
        try {
            if ("<%= check %>" === "searchByInput") {
                document.getElementById("searchByPrice").style.display = "none";
            }
            if("<%= check%>" === "searchByButton") {
                let head = "", tail = "";
                let html = '';
                head = "<%= head %>";
                tail = "<%= tail %>";
                html += 'Đang tìm với mức giá ' + head + ' - ' + tail + '';
                document.getElementById("searchByPrice").innerHTML = html;
            }
        } catch (e) {
            console.error(e);
        }
    })()
</script>
</body>
</html>
